services:
  db:
    image: mysql:8.0
    environment:
      - MYSQL_PASSWORD=secret
      - MYSQL_DATABASE=sistema_voluntariado
      - MYSQL_RANDOM_ROOT_PASSWORD=yes
      # - MYSQL_ALLOW_EMPTY_PASSWORD=yes
    ports:
      - 3306:3306
    volumes:
      - mysql_data:/var/lib/mysql
      - ./init:/docker-entrypoint-initdb.d:ro

volumes:
  mysql_data:
